@import "../../_theme.scss";

.Debugger {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  position: relative;
}

.panel {
  font: $font-main;
  color: $color-font-main;
  background-color: $color-background-secondary;

  * {
    color: $color-font-main;
  }
}

.border,
.splitter {
  background-color: $color-background-primary;
}

.borderTab {
  font: $font-main;
}