@import '../../theme';

.Inspect {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: $size-margin-small;
  }
}

.expressions {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-bottom: $size-margin-large;
}

.expression {
  display: flex;
  flex: 1 1 auto;

  &:nth-child(odd) {
    background-color: $color-background-tertiary;
  }
  
  &:nth-child(even) {
    background-color: $color-background-quaternary;
  }

  & > * {
    display: flex;
    flex: 1 1 50%;
    padding: $size-margin-small;
    background-color: transparent;
    border: none;
    overflow-wrap: anywhere;

    &:nth-child(1) {
      border-right: 1px dashed $color-background-pentary;
    }
  }
}