@import "../../_theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$border: #fe04fc;
$background: #16007e;
$key-size: 10px;
$player1-color: red;
$player2-color: green;


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    display: flex;
    border: 3px solid $border;
    font-family: 'Press Start 2P', cursive;
    background-color: $background;
    height: 32px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.screen {
    height: 150px;
    max-width: 90%;
    border: 4px solid rgba(0, 0, 0, .3);
    border-radius: 10%;
}

.screenBox {
    border: 3px solid $border;
    background-color: $background;
    height: 170px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    border: 3px solid $border;
    height: 32px;
    background-color: $background;
    display: flex;
    flex-direction: row;
}

.player {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.keyColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.key1 {
    height: $key-size;
    width: $key-size;
    background-color: $player1-color;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black;
}

.key2 {
    height: $key-size;
    width: $key-size;
    background-color: $player2-color;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black;
}

.stick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.palito {
    height: 5px;
    width: 3px;
    background-color: white;
    margin-left: 3px;
}

.pelotitaBase1 {
    height: 6px;
    width: 10px;
    background-color: $player1-color;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black;
}

.pelotitaBase2 {
    height: 6px;
    width: 10px;
    background-color: $player2-color;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 3px solid $border;
    height: 180px;
    background-color: $background;
}