@import "../../_theme.scss";

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: auto;
  padding: 2vh;
  font-family: "monospace";

  & > div {
    display: flex;
    margin: auto;
  }
  h1,h2,h3,h4{
    color:black
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 2vh;
  }

  .description {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80vh;
    margin-left: 1vw;
    padding-left: 4vw;
    border-left: 2px solid $color-primary;
    overflow: auto;

    h1{
      font-size: 3em;
    }
    h2{
      margin: 2vw 2vw 1vw 0;
    }
  }
}

.board {
  display: flex;
  flex-direction: column-reverse;
  min-width: 90vh;
  min-height: 90vh;

  div {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
  }

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &,
  & > div > div {
    position: relative;
    border: 1px solid #33333333;
  }
}

.game_selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;

  & > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 13%;
    width: 100%;
    & > div {
      display: flex;
      flex-direction: column;
      width: 60%;
      & > label {
        padding: 0 0 5px 20px;
        font-size: large;
      }
      & > input {
        padding: 20px;
        font-size: x-large;
        border-color: #ac4142;
        border-radius: 50px;
      }
    }

    & > button {
      margin-top: 25px;
      padding: 10px 20px 10px 20px;
      border-radius: 50px;
      font-weight: bold;
      color: white;
      font-size: large;
      background-color: #ac4142;
    }
  }
}