@import "../../_theme.scss";
@import "../ErrorScreen.module.scss";

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  margin: auto;
  padding: 2vh;
  font-family: "monospace";

  & > div {
    display: flex;
    margin: auto;
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 2vh;
  }
}