@import "../../_theme.scss";

div,
input {
  color: $color-font-main;
  font: $font-main;

  &:focus {
    outline: none;
  }
}

h2 {
  font: $font-title-2;
  color: $color-font-title;
  padding-bottom: 0.5em;

  display: flex;

  div {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 0.25em;
  }

  svg {
    position: absolute;
    max-width: 0.8em;
    margin-left: 0.125em;
  }

  input {
    font-size: 0.75em;
    font-style: italic;
    line-height: 1.25em;
    padding: 0 1.25em;
    width: 100%;

    border: 1px solid $color-font-title;
    border-radius: 1em;
    background-color: transparent;
  }
}

h3 {
  font: $font-title-3;
  color: $color-font-title;
}

h4 {
  font: $font-title-4;
  color: $color-font-title;
  margin: 0.25em 0;
}

.container {
  background-color: $color-background-primary;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 20% auto 40%;
  grid-template-rows: 3em auto;
  grid-template-areas:
    "frameStack actions info"
    "frameStack main    info";
}

.frameStack {
  grid-area: frameStack;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.5em;

  & > div > :last-child {
    background-color: $color-background-tertiary;
  }
}

.actions {
  grid-area: actions;
  display: flex;
  padding: 0.5em 0;

  button {
    width: 20%;
    margin-right: 0.5em;
    background-color: #5dc75c;
    color: $color-font-main;
    text-transform: uppercase;
    border: none;
    border-radius: 0.2em;
    font: $font-button;
  }
}

.main {
  grid-area: main;
  background-color: $color-background-editor;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.info {
  grid-area: info;
}

.tabs {
  height: 100%;
  display: flex;
  flex-direction: column;

  > div {
    flex-grow: 1;
  }

  ul {
    display: flex;
    list-style-type: none;
    border-top: 1px solid $color-background-secondary;

    li {
      padding: 0.25em;
      border: 1px solid $color-background-secondary;
      border-radius: 0 0 0.25em 0.25em;
      cursor: pointer;

      &.selected {
        background-color: $color-background-secondary;
      }
    }
  }
}

.contexts {
  padding: 0.5em;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  .context {
    &:not(:last-child) {
      border-bottom: 1px solid $color-background-secondary;
      padding-bottom: 0.5em;
    }

    & > div {
      display: flex;
      justify-content: space-between;

      & > :first-child {
        padding-left: 0.5em;
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 0;
      }

      & > :last-child {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }
}

.instances {
  padding: 0.5em;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.instructions {
  display: flex;
  align-content: flex-start;
  overflow-y: auto;

  .instruction {
    height: 3em;
    border-radius: 0.2em;
    margin: 0.25em;
    padding: 1em;

    display: flex;
    align-items: center;

    font: $font-main;
    background-color: $color-background-secondary;
  }
}

.stack {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.block {
  width: 100%;
  height: 3em;
  border-radius: 0.2em;
  margin-top: 0.25em;

  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

  background-color: $color-background-secondary;
}

.id {
  font-size: 0.8em;
  font-style: italic;
}

.highlighted {
  background-color: $color-background-highlight !important;
}
