@import "../../theme";

.locals {
  margin-left: 0.75em;

  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    justify-content: space-between;

    & > :first-child {
      width: calc(50% - 0.25rem);
      display: flex;
      white-space: nowrap;
    }

    & > :last-child {
      width: 50%;
      display: flex;
    }
  }
}
