@import "../../theme";

.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: $color-background-primary;
}

.actions {
  margin-bottom: 0.5rem;

  display: flex;

  button {
    border-radius: 0.2rem;
    padding: 0.5em;

    border: none;
    background-color: $color-background-action;
  }
}

.details {
  min-height: 0;

  display: flex;
  flex-grow: 1;

  & > div {
    display: flex;
    flex-direction: column;
    width: 50%;

    &:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
}

.instructions {
  & > *:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}

.instruction {
  border-radius: 0.2rem;
  min-height: 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-background-tertiary;
}

.highlighted {
  background-color: $color-background-highlight;
}
