@import "../../theme";

.container {
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: $color-background-primary;

  & > h2 {
    display: flex;

    div {
      margin-left: 0.5em;
      width: 1%;

      display: flex;
      align-items: center;
      flex: 1 1;
    }

    svg {
      position: absolute;
      max-width: 1em;
      margin-left: 0.25em;
    }

    input {
      font-size: 0.85em;
      padding: 0 1.4em;

      flex: 1 1;
      min-width: 0;

      border: 1px solid $color-font-title;
      border-radius: 1em;
      background-color: transparent;
      font-style: italic;
      font-weight: normal;
    }
  }

  & > div {
    padding: 0.25rem;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;

    & > *:not(:last-child) {
      border-bottom: 1px solid $color-background-secondary;
      padding-bottom: 0.25rem;
    }
  }
}
