@import "../../theme";

.container {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow-y: auto;

  background-color: $color-background-secondary;

  & > div:not(:first-child) {
    margin-bottom: $size-margin-small;
  }
}

.element {
  border-radius: 0.2rem;
  min-height: 2.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $color-background-tertiary;

  & > div {
    display: flex;
    max-width: 100%;
  }
}

.highlighted {
  background-color: $color-background-highlight;
}

.clickable {
  cursor: pointer;
}
