.repl {
  display: flex;
  height: 100%;
  width: 100%;
}

.rplContainer {
  display: flex;
  width: 100%;
  min-height: 100%;
  background-color: #dddddd;
}

.editor {
  background-color: #dddddd;
  min-height: 100%;
  width: 100%;
}

.slider {
  margin: 5px;
}
