@import "../_theme.scss";

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 15vh;
    font-family: "monospace";
  
    & > div {
      display: flex;
      margin: auto;
    }
  
    h1 {
      font-size: 1.5em;
      margin-bottom: 0vh;
    }

    .description {
      display: flex;
      flex-direction: column;
      width: 40vw;
      height: 100%;
      justify-content: center;
      margin-left: 1vw;
      margin-right: 1vw;
      padding-top: 40rem;
      padding-bottom: 3rem;
      padding-left: 3rem;
      padding-right: 3rem;
      border-left: 2px solid $color-primary;
      overflow: auto;
      
      * {
          color: white;
      }

      h1{
        font-size: 3em;
      }
      h2{
        margin: 2vw 2vw 1vw 0;
      }
    }
  }