@import "../_theme.scss";

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 20vh;
    border: 2px solid $color-primary;

    p {
        margin-top: 2%;
        margin-bottom: 2%
    }
}
  
.wpgmPicker {
background-color: white;
width: 100%;
}

.errorMessage {
    padding: 1.5%;
    width: 100%;
    height: 60%;
    background-color: #1c1a1c;
    color: white;
    overflow: scroll;
    resize: none;
}