$color-highlight: #f1f8ff;
$color-primary: #ac4142;

$color-font-main: #ffffff;
$color-font-title: #ffffff;

$color-background-primary: #3b3a3b;
$color-background-secondary: #6b6a6b;
$color-background-tertiary: #929094;
$color-background-editor: #1c1a1c;
$color-background-highlight: #5c73c7;

$font-main: 1em monospace;
$font-title-2: bold 1.5em monospace;
$font-title-3: bold 1.15em monospace;
$font-title-4: bold 1.1em monospace;
$font-button: bold 1em monospace;
