@import "./theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

html {
  font-size: $base-font-size;
}

#root > div {
  font: $font-main;
  display: flex;
  width: 100%;
  height: 100%;
}

h1 {
  font: $font-title-1;
  color: $color-font-title;
}

h2 {
  font: $font-title-2;
  color: $color-font-title;
  padding: $size-margin-large 0;
}

h3 {
  font: $font-title-3;
  color: $color-font-title;
  padding-top: $size-margin-large;
  padding-bottom: $size-margin-small;
}

h4 {
  font: $font-title-4;
  color: $color-font-title;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background: $color-background-nullary;
}

::-webkit-scrollbar-corner {
  background: $color-background-nullary;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: $color-background-quaternary;
}
